.name {
    font-family: "Great Vibes", cursive;
    text-align: right;
    padding-top: 10px;
    font-size: 100px;
}

[class*="col-"] {
    width: 100%;
}

h4  {
    font-family: "Permanent Marker", cursive;
}

* {
    font-family: "Permanent Marker", cursive;
}


#body {
    background: #fbaebe;
}

.icons {
    margin-top: 20px;
}

.nav-pills li {
    font-size: 30px;
    margin-left: 135px;
} 

.pill {
    margin-top: 20px;
}